{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(node:)?(path|fs|os|crypto|stream|util|events|buffer|assert)$",
    "<THIRD_PARTY_MODULES>",
    "^@src",
    "^@comp",
    "^\\.\\./",
    "^\\./",
    "^\\."
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
